footer.content-info {
  margin-top: 150px;
  @media screen and (min-width: $tablet) {
    margin-top: 220px;
  }

  .container {
    position: relative;
    background: $logo-red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 480px;
    @media screen and (min-width: $tablet) {
      height: 520px;
    }
    @media screen and (min-width: $tablet-bg) {
      height: 350px;
    }
    @media screen and (min-width: $desktop-md) {
      height: 500px;
    }
  }
}

.footer-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  @media screen and (min-width: $tablet-bg) {
    height: 480px;
    position: absolute;
    left: calc(50% + 140px);
  }
  @media screen and (min-width: $desktop-md) {
    left: 50%;
    width: 600px;
    padding-bottom: 80px;
  }
}

.footer-logo {
  width: 80%;
  max-width: 300px;
  @media screen and (min-width: $desktop-md) {
    max-width: 500px;
  }
}

.footer-sns-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-sns {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    .sns-logo {
      height: 100%;
      margin-right: 5px;
    }

    p {
      color: white;
      font-size: 0.85rem;
    }
  }
}

.footer-member {
  color: white;
  margin-top: 20px;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-info {
  margin-top: 45px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .info-list {
    padding-right: 15px;
    padding-left: 15px;
    float: left;

    &:not(:last-child) {
      border-right: 1px solid white;
    }

    a {
      color: white;
      font-size: 0.6rem;
      @media screen and (min-width: $desktop-md) {
        font-size: 0.7rem;
      }
    }
  }
}

.footer-right {
  color: white;
  font-size: 0.5rem;
  margin: 20px auto 20px;
  @media screen and (min-width: $desktop-md) {
    font-size: 0.7rem;
    margin: 40px auto 20px;
  }
}

